.container {
    max-width: $grid-width;
    margin: 0 auto;

    @include respond( tab-land ) {
        margin: 0 2rem;
    }
}    

.row {
    // backface-visibility: hidden;
    @include clearfix;

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        float: left;
        transition: transform .5s;
    
        &:not(:nth-child(3)) {
            margin-right: $gutter-horizontal;
    
            @include respond(tab-port) {
                margin-right: 0;
            }
        }
    
        @include respond(tab-port) {
            width: calc((100% - #{$gutter-horizontal}) / 2);
            h3 {
                text-align: center;
            }

            &:not(:nth-child(even)) {
                margin-right: $gutter-horizontal;
            }
        }
        @include respond(phone) {
            width: 100%;
            margin-right: 0;
           
            // Exclude first instance
            &:not(:first-child) {
                h3 {
                    margin-top: 1rem;
                }
            }
        }

    }
}

.section-darker {
    background-color: $color-primary-light;
}

.section-downward {
    padding: 1rem 0 9rem;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 50% 100%, 0% calc(100% - 6rem));
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 50% 100%, 0% calc(100% - 6rem));
    }
}

.section-padding {
    padding: 1rem 0 6rem;
}