.home-intro {
    min-height: 37rem;
    padding-top: 2rem;
}
.harry_profile {
    border-radius: 50%;
    float: left;
    margin-right: 3rem;

    + h2 {
        text-align: left;
    }
    @include respond(phone)  {
       float: none;
       margin-right: auto;
       margin-left: auto;
       display: block;

       + h2 {
            text-align: center;
        }
    }
}

#home-page {

    .row {
        .col-1-of-3 {
            @include respond(tab-port) {
                &:nth-child(3) {
                    float: none;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}


